
 body {
    background: url("runway.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    position: relative;
    height: 150px;
   width: 250px;
   left: 1200px;
   /*top: 100px;*/
}
audio{ 
    display:none;
}
.fly{
    animation-name: a;
    animation-duration: 15s;
    animation-fill-mode: forwards;
}
@keyframes a{
    0%{
        top: 90px;
        left: 900px;
    }
    10%{
        top: 100px;
        left: 950px;
    }
    20%{
        top: 200px;
        left: 900px;
    }
    30%{
        top: 250px;
        left: 850px;
    }
    40%{
        top: 300px;
        left: 800px;
    }
    50%{
        top: 300px;
        left: 700px;
    }
    60%{
        top: 300px;
        left: 600px;
    }
    70%{
        top: 300px;
        left: 500px;
    }
    80%{
        top: 300px;
        left: 400px;
    }
    90%{
        top: 300px;
        left: 300px;
    }
    100%{
        top: 300px;
        left: 200px;
    }
}

